body
{
	overflow: scroll;
}

#dropzone
{
	width: 700px;
	height: 200px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	color: #000;
	display: block;
}

#dropzone.hover h5
{
	opacity: 0.5;
}

ul.pagination
{
	display: inline-block;
}

/* Color pagination correctly when order is ul > a > li */
.pagination a li
{
	color: #000;
}

.pagination a li.active
{
	color: #fff;
}

p.file-type-checkbox
{
	float: left;
	margin-right: 20px;
}

.file-type-filters
{
	margin-top: 15px;
	margin-bottom: 0;
}

.toggle-filetypes a
{
	margin-right: 8px;
	padding: 5px;
}

#filesTable th:nth-child(1)
{
	width: 100%;
}

#filesTable th:nth-child(2)
{
	min-width: 124px;
	text-align: right;
}

#filesTable tr td:nth-child(2)
{
	text-align: right;
}

#filesTable tr
{
	cursor: pointer;
}

#settingsModal table input
{
	margin-bottom: 0;
}

input.transparent
{
	border: none;
	height: 19px;
}

input.transparent[type*=]:focus
{
	border: none;
}

body > .container
{
	max-width: 1600px;
}

#csv-preview
{
	min-width: 1400px;
	overflow-x: auto;
}

/*
	Bold text on the first column in a csv table.
*/
.handsontable table.htCore tr td:first-of-type
{
	font-weight: bold;
}